:root {
    --bg-color: rgba(0, 0, 0, 0.85);
    --tx-color: rgba(255, 255, 255, 0.7);
    --span-color: rgba(241, 231, 137, 0.9);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: var(--tx-color);
}
@media only screen and (min-width: 350px){
    /*general styling*/
    body{
        background-color: var(--bg-color)
    }
    h1{
        font-size: 3.1rem;
    }
    h2{
        font-size: 2.4rem;
        display: inline;
    }
    h3{
        font-size: 1.7rem;
        display: inline;
    }
    h4{
        font-size: 1.3rem;
        display: inline;
    }
    .nav-bar{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        background-color: var(--bg-color);
        z-index: 5;
        
    };
    .nav-bar div{
        display: inline;
        text-align: center;
        
    }
    .nav-bar div a{
        display: flex;
        flex-direction: column; 
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        line-height: 0;
    }
    .nav-bar div a i {
        font-size: 20px;
        line-height: 2;
        height: auto;
    }

    /*home section styling*/
    #home{
        height: 100vh;
        background: url(./media/ferenc-almasi-L8KQIPCODV8-unsplash.jpg), rgba(0, 0, 0, 0.8);
        background-position: center;
        background-blend-mode: overlay;
        background-size: cover;
        width: 100vw;
        overflow: hidden;
    }
    #home > div{
        width: 90%;
        margin: auto;
        transform: translateY(20vh);
    }

    .header{
        font-size: 1.8rem;
    }
    .header h2{
        font-size: 2.4rem;
    }
    .header h3 {
        font-size: 1.8rem;
        font-weight: normal;
    }
    .contact{
        font-size: 48px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 1em auto;
        text-align: center;
    }

    /*about page styling*/
    #about div, #skills div, #projects > div{
        width: 90%;
        margin: auto;
        padding: 1em 0;
    }

    #about div p, #skills div p{
        margin: 1em 0;
    }

    .img-div, .codecademy, .lewagon{
        width: 100%;
        text-align: center;
    }

    .img-div img{
        width: 10em;
        height: 10em;
        margin: 0 auto;
        border-radius: 50%;
        border: 3px solid var(--tx-color);
    }
    .codecademy img{
        width: 100%;
        margin: auto;
        height: 4em;
    }
    .lewagon img{
        width: 7em;
        height: 7em;
        margin: auto;
    }
    #skills div p span{
        font-size: 1.3rem;
        font-weight: bold;
        font-style: italic;
        color: var(--span-color)
    }

    .card{
        margin: 1em 0;
        padding: 0;
        border: 1px solid var(--tx-color);
        border-radius: 10px;
    }
    
    .card img{
        width: 100%;
        height: 70%;
        border-radius: 10px 10px 0 0;
    }

    .card-content{
        padding: .5em 1em;

    }
    .card-links{
        padding: .5em 0;
        border-top: 1px solid var(--tx-color);
        padding: .5em 1em;      
    }

    .card-links a{
        margin-right: .5em;
        text-decoration: none;  
    }

    #projects{
        margin-bottom: 3em;
    }

    
}   
