*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body{
    background-color: #2c2c2c;
}

#to-do-div{
    width: 500px;
    height: 800px;
    display: block;
    margin: 4em auto;
    border-radius: 25px;
    background: rgba(136, 243, 243, 0.822);
}

#header{
    height: 30%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-image: url(media/anella-olimpica-barcelona.jpg);
    background-size: 100% 100%;
}

#header i{
    display: flex;
    float: right;
    margin: 1em;
    font-size: 1.5em;
    background-color: white;
    opacity: .7;
    padding: .25em;
    border-radius: 50%;
    cursor: pointer;
}

#header p{
    position: relative;
    bottom: 0;
    font-size: 1.5em;
    transform: translateY(440%);
    margin: .5em;
    background-color: white;
    border-radius: 25px;
    opacity: .7;
    padding: .25em;
    width: 60%;
    text-align: center;
}

#content-div{
    height: 70%;
    width: 100%;
    background-color: cadetblue;
    border-radius: 0 0 25px 25px;
    padding: 1em;
}

#content-div ul {
    list-style-type: none;
    background-color: blanchedalmond;
    border-radius: 15px;
    padding: .5em;
}

#content-div li{
    margin: 1em;
}
.pending{
    border: none;
    background-color: transparent;
    outline: none;
}

.material-icons.green{
    color: green;
}

.finished, .check{
    border: none;
    background-color: transparent;
    outline: none;
    color: green;
}

.trash{
    position: relative;
    float: right;
    border: none;
    background-color: transparent;
    outline: none;
}


#content-div i{
    display: inline;
    margin: .25em;
    font-size: 24px;
    cursor: pointer;
}

#content-div p{
    display: inline;
    margin: .25em;
    font-size: 24px;
}

#content-div i{
    padding: .25em;
    background-color: white;
    border-radius: 50%;
}

.pending-task{
    background-color: white;
    padding: .25em .5em;
    border-radius: 15px;
    display: flex;
}


.complete-task{
    background-color: rgb(209, 209, 209);
    padding: .25em .5em;
    border-radius: 15px;
    display: flex;
    text-decoration: line-through;
}

.input{
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    border-radius: 15px;
    border: none;
    padding: .25em;
    outline: none;
}

.input-div{
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    transform: translateY(-120%);
}

#plus{
    width: 1em;
    height: 1em;
    background-color: white;
    font-size: 2em;
    border: none;
    outline: none;
    line-height: 1.2;
    cursor: pointer;
}